<!DOCTYPE html>
<html ng-app="QuizzingProgram">
    <head>
        <title>CIDM 4385 Quizzing Program</title>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    
    <body>
        <div ng-controller="QuizzingProgram as qp">
                <div ng-controller="ButtonController as bc">
                <button ng-click="cc.FtoC()" ><a href="#" ng-click="bc.show()">Call name and question</button><br/>
                <button ng-click="cc.FtoC()" ><a href="#">View students in bank</button><br/>
                <button ng-click="cc.FtoC()" ><a href="#">View questions in bank</button><br/>

                <!--buttons to call the functions-->
                <button ng-click="cc.FtoC()" ng-hide="bc.show_fahrenheit"><a href="#" ng-click="bc.show()">Convert to Celsius</button><br />
                <button ng-click="cc.CtoF()" ng-hide="bc.show_celsius"><a hre="#" ng-click="bc.hide()">Convert to Fahrenheit</a></button><br /><br />
            
                <!--showing converstions-->
                <div ng-hide="bc.show_celsius" >Celsius Temperature: {{cc.celsius}}</div>
                <div ng-hide="bc.show_fahrenheit">Fahrenheit Temperature: {{cc.fahrenheit}}</div>
          </div>
        </div>
    </body>
</html>