<!DOCTYPE html>
<html ng-app="QuizzingProgram">
    <head>
        <title>CIDM 4385 Quizzing Program</title>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <script lang="javascript"></script>
        <link rel="stylesheet" href="style.css" />
    </head>
    
    <body>
        <div ng-controller="QuizzingProgram as qp">
                <button ng-click="qp.studentPicker()" ><a href="#">Show a random name (or volunteer!)</button><br/>
                <button ng-click="qp.questionPicker()" ><a href="#">Show a random question</button><br/>
                
                <div>Student: {{qp.studentPick}}</div>
                <div>Question: {{qp.questionPick}}</div>
          </div>
        </div>
    </body>
</html>